### BEGIN INIT INFO
### END INIT INFO

[Unit]
Description=Puma for {{APP_NAME}} app
After=network.target

[Service]
Type=simple
WorkingDirectory={{APP_ROOT}}
PIDFile={{PID_FILE_PATH}}
ExecStart={{START_CMD}}
ExecReload={{RESTART_CMD}}
ExecStop={{STOP_CMD}}
Restart=always
User=apps
Group=apps

[Install]
WantedBy=multi-user.target
