### BEGIN INIT INFO
### END INIT INFO

[Unit]
Description=Puma for {{APP_NAME}} app
After=network.target

[Service]
Type=simple
WorkingDirectory={{APP_ROOT}}
PIDFile={{APP_ROOT}}/shared/tmp/pids/puma.pid
ExecStart=/etc/init.d/puma-bznk start
ExecReload=/bin/kill -s SIGUSR1 $MAINPID
ExecRestart=/bin/kill -s SIGUSR2 $MAINPID
ExecStop=/etc/init.d/puma-bznk stop
Restart=always
User=apps
Group=apps

[Install]
WantedBy=multi-user.target
