### BEGIN INIT INFO
### END INIT INFO

[Unit]
Description=Sidekiq for {{APP_NAME}} ({{RAILS_ENV}})
After=network.target

[Service]
Type=notify
WorkingDirectory={{APP_ROOT}}/current
ExecStart={{exec_start}}
EnvironmentFile={{APP_ROOT}}/current/.env
RestartSec=1
Restart=on-failure
StandardOutput={{SIDEKIQ_LOG_FILE}}
StandardError={{SIDEKIQ_LOG_FILE}}
SyslogIdentifier=sidekiq-{{APP_NAME}}
User={{DEPLOY_USER}}
UMask=0002

[Install]
WantedBy=multi-user.target
