[Unit]
Description=Puma for {{APP_NAME}} app
After=network.target

[Service]
Type=simple
ExecStart={{START_CMD}}
ExecStop={{STOP_CMD}}
ExecReload={{RESTART_CMD}}

[Install]
WantedBy=multi-user.target
